<!DOCTYPE html>
<html lang="en" ng-app="ProcrastinateApp" ng-controller="ProcrastinateController">
  <head>
    <title>Procrastinate</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-ace/ui-ace.min.js"></script>
    <script src="dist/bundle.js"></script>
  </head>

  <body class="container">
    <div class="page-header">
      <h1>
        Procrastinate
        <small>Quickly create pending specs for your favorite test frameworks.</small>
      </h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h2>Input</h2>

        <form>
          <div class="form-group">
            <label for="input-formatter">Formatter</label>
            <select id="input-formatter" class="form-control" ng-model="formatter" ng-options="formatter for formatter in procrastinate.formatters"></select>
          </div>

          <div class="form-group">
            <label for="input-text">Text</label>
            <div ui-ace id="input-text" ng-model="input"></div>
          </div>
        </form>
      </div>

      <div class="col-md-6">
        <h2>Output</h2>

        <form>
          <div class="form-group">
            <label for="output-formatter">Formatter</label>
            <input id="output-formatter" class="form-control" readonly ng-bind="formatter">
          </div>

          <div class="form-group">
            <label for="output-text">Text</label>
            <div ui-ace id="output-text" ng-model="output"></div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
